.nav_icons {
    height: auto;
    max-height: 60px;
}

.nav_icons:hover {
    opacity: 0.5;
}
.logo_left,.logo_right{
    max-width: 80%;
    height: 80px;
    width: auto;
    margin-bottom: 10px;
}


.my_nav{
    border-bottom:1px solid #edece8;
    background: #ffffff
;
}

